body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin: 0 auto 50px auto;
}

h1 span {
    font-weight: 900;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.game-area {
    border: solid black;
    border-width: 0 2px 3px 2px;
    display: block;
}